::-webkit-scrollbar  
{  
    width: 5px;  
    height: 5px;  
    background-color: rgba(69, 203, 187, 0.35);
}  

::-webkit-scrollbar-thumb  
{  
	border-radius: 5px;
    background-color: rgba(69, 203, 187, 0.5); 
}  

/* poppins-normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('//lib.baomitu.com/fonts/poppins/poppins-v2-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Poppins'), local('Poppins-Normal'),
       url('//lib.baomitu.com/fonts/poppins/poppins-v2-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//lib.baomitu.com/fonts/poppins/poppins-v2-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('//lib.baomitu.com/fonts/poppins/poppins-v2-latin-300.woff') format('woff'), /* Modern Browsers */
       url('//lib.baomitu.com/fonts/poppins/poppins-v2-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//lib.baomitu.com/fonts/poppins/poppins-v2-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
  
/* poppins-normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: regular;
  src: url('//lib.baomitu.com/fonts/poppins/poppins-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins'), local('Poppins-Normal'),
       url('//lib.baomitu.com/fonts/poppins/poppins-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//lib.baomitu.com/fonts/poppins/poppins-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//lib.baomitu.com/fonts/poppins/poppins-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('//lib.baomitu.com/fonts/poppins/poppins-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//lib.baomitu.com/fonts/poppins/poppins-v2-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'iconfont';  /* project id 544291 */
  src: url('//at.alicdn.com/t/font_544291_7fl5nsgsbk5ipb9.eot');
  src: url('//at.alicdn.com/t/font_544291_7fl5nsgsbk5ipb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_544291_7fl5nsgsbk5ipb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_544291_7fl5nsgsbk5ipb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_544291_7fl5nsgsbk5ipb9.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

$active-color: #45cbbb;

@mixin black-mask {
	background-color: rgba(69, 203, 187, 0.35);
	border-radius: 4px;
}

*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: "Poppins","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
	text-decoration: none;
	color: #fff;
	transition: all .25s linear;
}
a:hover{
	color: $active-color;
}
ul, ol ,li{
	list-style: none;
}
button{
	border: 0;
    background-color: transparent;
    transition: all .25s linear;
    outline: 0;
    cursor: pointer;
    color: #fff;
}
button:hover{
	color: $active-color;
}
.clearfix:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}
.full-bg{
	width: 100%;
	height: 100%;
	position: relative;
}
.video-box{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	video {
		min-width: 100%;
		min-height: 100%;
	}
}
.lock-box{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 1200px;
	text-align: center;
	color: #fff;
	.title{
		font-size: 54px;
		color: $active-color;
		text-transform: uppercase;
		font-style: italic;		
		text-shadow: 0px 0px 15px $active-color;
	}
	.form{
		width: 540px;
		margin: 60px auto;
		position: relative;
		.form-control{
			width: 100%;
			box-sizing: border-box;
			padding: 15px 30px;
			font-size: 20px;
			font-weight: normal;
			color: #666;
			background-color: #fff;
			border-radius: 60px;
			border: 0;
			outline: 0;
		}
		.btn{
			position: absolute;
			right: 30px;
			top: 5px;
			.iconfont{
				color: #666;
				font-size: 36px;
				transition: all .25s linear;
				&:hover{
					color: $active-color;
				}
			}
		}
		.error-text{
			margin-top: 15px;
			font-size: 18px;
			color: #ed4630;
		}
	}
}

.main{
	width: 100%;
	height: 100%;
	padding: 30px 150px;
	position: relative;
	color: #fff;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;	
}

.header{
	width: 100%;
	height: 75px;
	display: flex;
	box-sizing: border-box;
	div {
		flex: 1;
		width: 0;
		.title{
			text-align: center;
			font-size: 36px;
			color: $active-color;
			text-transform: uppercase;
			font-style: italic;
		    text-shadow: 0px 0px 15px $active-color;
		}
		.num{
			line-height: 2;
			text-align: right;
		}		
	}
}

.content{
	width: 100%;
	flex: 1;
	box-sizing: border-box;
	margin-bottom: 15px;
	padding: 30px;
	overflow-y: auto;
	@include black-mask;
	.user-box{
		.user-list{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			li{
				flex: 1;
				padding: 15px;
				box-sizing: border-box;
				text-align: center;
				letter-spacing: 1px;
				.avatar{
					display: inline-block;
					width: 132px;
					height: 132px;
					border-radius: 50%;
					border: 1px solid $active-color;
					overflow: hidden;
					margin-bottom: 5px;
					text-align: center;
					img{
						height: 100%;
					}
				}
			}
		}
	}
	.goal-box{
		height: 100%;
		.goal-list{
			display: flex;
			flex-direction: row;
			li{
				flex: 1;
				padding: 15px;
				box-sizing: border-box;
				text-align: center;
				letter-spacing: 1px;
				font-size: 36px;
				.avatar{
					display: inline-block;
					border-radius: 50%;
					border: 1px solid $active-color;
					overflow: hidden;
					margin-bottom: 5px;
					text-align: center;
					img{
						height: 100%;
					}
				}
			}			
		}
	}
}


.footer{
	width: 100%;
	height: 125px;
	box-sizing: border-box;	
	padding: 15px;
	@include black-mask;
	display: flex;
	.copyright{
		flex: 1;
		width:0; 
		margin-left: 30px;
		img{
			height: 64px;
		}
	}
	.operation{
		flex: 1;
		width: 0;
		text-align: center;
		.operation-list{
			display: inline-block;
			li{
				float: left;
				text-align: center;
				line-height: 100px;
				.btn{
					display: inline-block;
				    padding: 10px 75px;
				    margin-bottom: 0;
				    font-size: 24px;
				    font-weight: 400;
				    text-align: center;
				    white-space: nowrap;
				    vertical-align: middle;
				    touch-action: manipulation;
				    cursor: pointer;
				    user-select: none;
				    background-image: none;
				    border: 1px solid #39c5bb;
				    border-radius: 60px;
				    outline: 0;
				    color: #fff;
				    letter-spacing: 1px;
				    background-color: rgba(69, 203, 187, 0.5);
				    box-shadow: 0px 0px 45px 0px #39c5bb inset;
				    transition: all 0.35s ease-out;
				    &:hover{
				    	box-shadow: 0px 0px 75px 0px #39c5bb inset;
				    }
				}
				.btn-disabled{
					box-shadow: 0px 0px 75px 0px #ccc inset;
					cursor: not-allowed;
				}
			}
			.adder{
				width: 60px;
				button{
					padding-top: 30px;
					.iconfont{
						font-size: 36px;
						font-weight: bold;
					}
					&:hover{
						color: $active-color;
					}	
				}
				.disabled{
					opacity: 0;
				}
			}

		}
	}
	.nav{
		flex: 1;
		width:0; 
		.nav-list{
			li{
				float: right;
				text-align: center;
				padding: 0 30px;
				button{
					transition: all 0.25s ease-out;
					.circle{
						width: 64px;
						height: 64px;
						line-height: 64px;
						border-radius: 50%;
						border: 1px solid #fff;	
						margin-bottom: 8px;	
						transition: all 0.25s ease-out;
						.iconfont{
							font-size: 36px;
						}				
					}
					&:hover{
						color: $active-color;
						.circle{
							border: 1px solid $active-color;	
						}
					}

				}
			}
		}
	}

}
.modal-warper{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 2000;
	.modal{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 540px;
		min-height: 280px;
		background-color: #4c339c;
		color: #fff;
		.close{
			position: absolute;
			right: 15px;
			top: 10px;
			display: block;
			color: #fff;
			transition: all 0.25s linear;
			.iconfont{
				font-size: 36px;
			}
			&:hover{
				transform-origin: center;
				transform: rotate(180deg);
				color: $active-color;
			}
		}
		.modal-content{
			padding: 60px; 
			font-size: 17px;
		}
		.modal-footer{
			text-align: center;
			.modal-btn{
			    display: inline-block;
			    padding: 7px 45px;
			    margin: 10px;
			    border: 1px solid #666;
			    border-radius: 30px;
			    transition: all 0.25s linear;
			    &:hover{
			    	background-color: $active-color;
			    	color: #fff;
			    }
			}
		}
	}
}

.list-box{
	width: 50%;
	height: 100%;
	float: left;
	padding: 0px 30px;
	box-sizing: border-box;
	overflow-y: auto;
	.table{
		width: 100%;
		text-align: center;
		border-collapse:collapse;
		caption{
			font-size: 40px;
			margin-bottom: 30px;
			color: $active-color;
		}
		thead{
			padding-bottom: 15px;
			border-bottom: 1px solid $active-color;
		}
		tr{
			td{
				padding: 10px 0;
				font-size: 24px;
				vertical-align: middle;
				img{
					width: 64px;
					height: 64px;
					border-radius: 50%;
					border: 1px solid $active-color;
				}
			}
			th{
				padding: 10px;
				font-size: 28px;
				font-weight: bold;
			}
		}
	}
}
