$body-bg: #f1f2f3;
$text-color: #1d1d26;

* {
	padding: 0;
	margin: 0;
}
html,body {
	width: 100%;
  	height: 100%;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.24rem;
	line-height: 1.75;
	color: $text-color;
	background-color: $body-bg;
	overflow-x: hidden;
}
.text-left{
	text-align: left;
}
.full-bg{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #f1f2f3;
	display: flex;
	flex-direction: column;
}
.header {
	width: 100%;
	height: 1.2rem;
	padding: .3rem .45rem;
	box-sizing: border-box;
	background: url('../img/reg-header.jpg') no-repeat;
	background-size: cover;
}
.header img{
	height: 100%;
	float: right;
}
.content{
	width: 100%;
	margin: 0.1rem 0;
	padding: 0.3rem 0.45rem;
	box-sizing: border-box;
	text-align: justify;
	background-color: #f1f2f3;
	flex: 1;
}
.content h1{
	font-size: 0.48rem;
	margin-bottom: .15rem;
	letter-spacing: 0.01rem;
	text-align: center;
	font-weight: normal;
}

.form{
	padding: 0.3rem 0;
}
.form .form-group{
	margin-bottom: 0.3rem;
}
.form .form-group label{
	display: block;
	margin-bottom: 0.05rem;
}
.form .form-group input, .form .form-group textarea{
	box-sizing: border-box;
	width: 100%;
	padding: 0.15rem;
	outline: 0;
	border: 1px solid #b5b5b5;
	border-radius: 4px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form .form-group .option-list{
	list-style: none;
	border: 1px solid #b5b5b5;
	border-radius: 4px;
	background-color: #fff;
}
.form .form-group .option-list li{
	border-bottom: 1px solid #b5b5b5;
	padding: 0.1rem 0.15rem; 
}
.form .form-group .option-list li:last-child{
	border-bottom: 0;
}
.form .form-group .option-list input{
	display: inline;
	width: auto;
	margin-right: 0.05rem;
	vertical-align: middle;
}
.form .form-group button{
	box-sizing: border-box;
	width: 100%;
	margin-top: 0.3rem;
	padding: 0.15rem 0;
	outline: 0;
	border: 0;
	border-radius: 4px;
	text-align: center;
	transition: all 0.25s ease-out;
	background: linear-gradient(45deg, #00d2ec, #00d398);
	color: #fff;	
}
.form .form-group button:acitve{
	background-color: #36699e;
}
.content .map{
	width: 100%;
	margin: 0.1rem 0;
}
.footer{
	width: 100%;
	padding: 0.3rem 0;
	text-align: center;
	color: #fff;
	background: url('../img/reg-footer.jpg') no-repeat;
	background-size: cover;
	font-size: 0.20rem;
}
.error-text{
	color: #f53c49;
}

.main{
	background: linear-gradient(90deg, #00d2ec, #00d398);
	flex: 1;
}
.success{
	background: linear-gradient(45deg, #00d2ec, #00d398);
	color: #fff;
}
.success .content{
	background-color: transparent;
}
.success img{
	max-width: 75%;
	display: block;
	margin: 0.45rem auto;
}
.success p{
	text-align: center;
}
